:root {
    --width: 24%;
    --padding: calc((100% - (2 * var(--width))) / 4);
}

.main_image_container {
    float: left;
    width: var(--width);
    padding-left: var(--padding);
    padding-right: calc(var(--padding) / 2);
}

.main_image_container > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.book_right_panel {
    float: left;
    padding-right: var(--padding);
    padding-left: calc(var(--padding) / 2);
    width: var(--width);
}

.main_book_title {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.main_book_price {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 900;
}

.main_book_author {
    padding-top: 10px;
    padding-bottom: 10px;
}

.main_book_description {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

.buy_button {
    margin-top: 30px;
    width: 100%;
    height: 50px;
    font-size: 18px;
    border: 1px solid black;
    background-color: #efc998;
}
