@import url("books.css");

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: "Lato", sans-serif;
}

body {
    background-color: #eee;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

#side_panel_substitute, #side_panel {
    height: 100vh;
}

main {
    float: left;
    width: 82%;
    padding: 40px;
    box-sizing: border-box;
}

#side_panel {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    width: 18%;
    background-color: #efc998;
}

#side_panel_substitute {
    float: left;
    width: 18%;
}

.categories {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.categories > a > li {
    font-size: 20px;
}

#nav {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.header {
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 900;
}

.link:hover {
    color: white;
}

#logo {
    width: 125px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#logo > img {
    width: 100%;
    height: 100%;
}

.error {
    color: red;
    margin-top: 5px;
    margin-bottom: 10px;
}

.box_shadow {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}

.clock_container {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

#clock {
    font-size: 40px;
}

.category_blocks_list {
    margin-top: 50px;
    margin-bottom: 50px;
    display:grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.category_block {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    height: 200px;
}

.category_block > img {
    transition: 0.25s all ease-in-out;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.category_block > p {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    transition: 0.25s all ease-in-out;
}

.category_block:hover > img {
    filter: blur(5px);
}

.category_block:hover > p {
    opacity: 1;
}

.main_header {
    font-size: 23px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
}

.icons {
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    row-gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon > img {
    width: 100%;
    height: 100%;
}

.user_profile_list {
    margin-top: 25px;
}

.user_profile_list > li {
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 5px;
}

.user_profile_list > ul {
    padding-left: 30px;
    text-decoration: none;
}